# SUPABASE CONFIG
PUBLIC_SUPABASE_URL=https://eqqzqteiplcuiakpyjih.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxcXpxdGVpcGxjdWlha3B5amloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyMzMwNjgsImV4cCI6MjA4MDgwOTA2OH0.kr6-mN2ycQpUXQ-Dj8r7jwc_4TVfQLTfGW0TYv8XHc4

# make them private later!!
# SUPABASE SERVICE ROLE (for server-side operations)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxcXpxdGVpcGxjdWlha3B5amloIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTIzMzA2OCwiZXhwIjoyMDgwODA5MDY4fQ.N88FVg5QRTXMJo44EqjurMLTYNCk1VRx1Cj-OWZnAwk

# APP CONFIG
VITE_APP_NAME=DeSaga cu Legume
VITE_APP_URL=http://localhost:5173

# ADMIN CONFIG
VITE_ADMIN_EMAIL=desaga
VITE_ADMIN_PASSWORD=1234


NEXT_PUBLIC_SUPABASE_URL=https://rwdxwpywaqbvobiptvqn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_O2ckw3HZrKTn-WkMuugigA_yHXA33YV


#EMAIL CONTACT
RESEND_API_KEY=re_NxNFHPC5_96Pktwb4LkzADsSHBdVdtV9x





#SUPABASE LOGIN
desagaCuLegume
2jlkTDeciesdgF6n


